{% extends "components/base.html" %}
{% load static %}

{% block title %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap" rel="stylesheet">
  <style>
    * {
      font-family: 'Kanit', sans-serif;
    }
  </style>
{% endblock %}

{% block content %}
      <!-- cart.html -->
    <div style="background-color:white; min-height:100vh" class="p-4">
      <h1>Your Cart</h1>
      <table class="table table-dark table-striped-columns">
        <thead>
          <tr>
            <th scope="col">รูปสินค้า</th>
            <th scope="col">ชื่อสินค้า</th>
            <th scope="col">ราคา</th>
            <th scrop="col">จำนวน</th>
            <th scope="col">ลบ</th>
          </tr>
        </thead>
        <tbody>
            {% for product in cart_items %}
            <tr>
                <th scope="row"><img src="{% static product.product.image_relative_url %}"></th>
                <td>{{ product.product.title }}</td>
                <td>{{ product.product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a class="btn btn-danger" href="delete/{{ product.id }}" onclick="return confirm('คุณต้องการลบ {{product.product.title}} หรือไม่')">ลบ</a>
                </td>
            </tr>
            {% endfor %}
            <p></p>
        </tbody>
      </table>
      <form method="POST">
        {% csrf_token %}
        <div class="text-end">
          <h3 >ราคาทั้งหมด {{ total_price }}฿</h3>
          {% if cart_items %}
          <button class="btn btn-success">ชำระเงิน</button>
          {% else %}
          <button class="btn btn-success disabled">ชำระเงิน</button>
          {% endif %}
        </div>
      </form>
    </div>

{% endblock %}