{% extends 'components/base.html' %}


{% block title %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300&display=swap" rel="stylesheet">
{% endblock %}


{% block content %}
    <div style="background: linear-gradient(-135deg, #c850c0, #4158d0); display:flex; justify-content: center; align-items: center;
    height:100vh;">
        <div class="rounded-4" style="background-color: white; width:50%;display:flex; justify-content: center; height:50%; align-items: center;">
            <div style="justify-content: center;">
                <p style="font-family: 'Kanit', sans-serif;font-size: 30px;font-weight:600">รหัสของคุณถูกเปลี่ยนแล้ว</p>
                <p>
                    <a href="/" class="btn btn-success p-3" style="display:flex; justify-content: center;">ต่อไป</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}